.add-profile {
  background-color: @special_blue_light_gray;
  padding-bottom: 38px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.add-profile__heading {
  position: relative;
  width: 265px;
  margin: 0;
  padding: 0;
  padding-top: 106px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;

  &::before {
    position: absolute;
    top: 90px;
    right: 0;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.add-profile__list {
  list-style: none;
}

.add-profile__item {
  display: flex;
  flex-wrap: wrap;
}

.add-profile__heading-item {
  margin: 0;
  padding: 0;
  width: 183px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: @special_grey;
}

.add-profile__number-first {
  width: 34px;
  height: 34px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  color: @basic-white;
  background-color: @special_orange;
  border-radius: 50%;
  text-align: center;
}

.add-profile__number-second {
  width: 34px;
  height: 34px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  color: @basic-white;
  background-color: @special_yellow_dark;
  border-radius: 50%;
  text-align: center;
}

.add-profile__number-third {
  width: 34px;
  height: 34px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  color: @basic-white;
  background-color: @basic_yellow;
  border-radius: 50%;
  text-align: center;
}

.add-profile__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: @special_grey;
}

.add-profile__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: @special_business_button;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
