.alphabet {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .reset_for_list();
  margin-bottom: 320px;
  .size(220px; 205px);
  border: 0.5px solid @input_border_color;

  @media (min-width: @tablet-width) {
    width: 346px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
  }
}

.alphabet__counries-list {
  display: none;
  .reset_for_list();
  padding: 10px;

  &--active {
    position: absolute;
    top: 200px;
    display: block;

    @media (min-width: @tablet-width) {
      top: 0;
      right: -150px;
    }
  }

  @media (min-width: @desktop-width) {
    position: inherit;
  }
}

.alphabet__item {
  .size(43px; 40px);
  text-align: center;
  border: 0.5px solid @input_border_color;
  background-color: @basic-white;

  &--active {
    background-color: @basic_blue_light_special;
  }

  @media (min-width: @tablet-width) {
    .size(60px; 60px);
    border: none;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.alphabet__item-link {
  display: block;
  .size(43px; 40px);
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue_light_special;

  &--active {
    color: @basic-white;
  }

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: @special_background_light_opacity;

    &--active {
      color: @special_background_light;
    }
  }
}

.alphabet__counries-item {
  text-align: left;
}

.alphabet__counries-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;
}
