.alphabet {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .reset_for_list();
  .size(220px; 205px);

  @media (max-width: @mobile-width-only) {
    margin-bottom: 284px;
  }

  @media (min-width: @tablet-width) {
    .size(381px; auto);
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
  }
}

.alphabet__counries-list {
  display: none;
  .reset_for_list();
  padding: 10px;

  &--active {
    position: absolute;
    top: 209px;
    left: -9px;
    display: block;
    height: 277px;
    overflow: auto;

    @media (min-width: @tablet-width) {
      top: 0;
      right: -242px;
      left: auto;
      height: auto;
    }
  }

  @media (min-width: @desktop-width) {
    position: inherit;
    display: block;
  }
}

.alphabet__item {
  margin-top: -1px;
  margin-right: -1px;
  text-align: center;
  background-color: @basic-white;

  &--active {
    background-color: @basic_blue_light_special;
  }

  @media (min-width: @tablet-width) {
    &:not(:nth-child(5n)) {
      margin-right: 16px;
    }
    margin-bottom: 42px;
    width: 60px;
    border: none;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    margin-right: 22px;
  }
}

.alphabet__item-link {
  display: block;
  .size(45px; 42px);
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue_light_special;

  &--active {
    color: @basic-white;
  }

  @media (max-width: @mobile-width-only) {
    border: 1px solid @input_border_color;
  }

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: @special_background_light_opacity;

    &--active {
      color: @special_background_light;
    }
  }

  @media (min-width: @desktop-width) {
    color: @special_background_light;
    text-align: left;
  }
}

.alphabet__counries-item {
  text-align: left;
}

.alphabet__counries-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
