.buttons-list {
  @media (max-width: @mobile-width-only) {
    margin: auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;

    &::before {
      position: absolute;
      content: "";
      .size(60px; 2px);
      background-color: @basic-white;

      @media (min-width: @desktop-width) {
        top: 16px;
        left: -25px;
      }
    }
  }
}

.buttons-list__item {
  .reset();
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
  font-size: 30px;
  line-height: 35px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
    margin-right: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @basic-white;
  }

  &--main-nav {
    @media (min-width: @desktop-width) {
      margin-right: 24px;
    }
  }

  &:hover .buttons-list__link {
    transform: translateY(-100%);
  }
}

.buttons-list__link {
  position: relative;
  display: inline-block;
  .reset();
  text-align: center;
  text-transform: uppercase;
  color: @special_background_light;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 100%;
    font-weight: 500;
    color: @basic_yellow_fade_30;
    transform: translate3d(0, 0, 0);
  }

  &--about-service {
    &::before {
      content: "О сервисе";
    }
  }

  &--direction {
    &::before {
      content: "Направления";
    }
  }

  &--companion {
    &::before {
      content: "Попутчики";
    }
  }

  @media (max-width: @mobile-width-only) {
    &::before {
      font-weight: 400;
    }
  }

  &:hover {
    &::before {
      color: @basic_yellow;
    }
  }

  @media (min-width: @tablet-width) {
    &--main-menu {
      font-weight: 500;
    }
  }

  @media (min-width: @desktop-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @basic-white;

    &--main-menu {
      color: @special_background_light;
    }
  }
}
