.buttons-list {
  .reset_for_list();

  @media (max-width: @mobile-width-only) {
    margin: auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 390px;
  }
}

.buttons-list__item {
  .reset();
}

.buttons-list__link {
  .reset();
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: @special_background_light;

  @media (min-width: @tablet-width) {
    &--main-menu {
      font-weight: 500;
    }
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @basic-white;
  }
}
