.buttons-list {
  width: 193px;
  .reset_for_list();
  margin: auto;
  text-align: center;
}

.buttons-list__item {
  .reset();
}

.buttons-list__link {
  .reset();
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: @special_background_light;
}
