.calendar__months-wrapper {
  margin-top: 38px;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .size(221px; 42px);

  @media (min-width: @tablet-width) {
    margin-top: 87px;
    margin-left: 23px;
    .size(532px; 86px);
  }
}

.calendar__previous-month {
  position: relative;
  .size(15px; 21px);
  background-image: url("../img/month-arrow-left.svg");
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    margin-left: 12px;
    .size(30px; 36px);
    background-size: 30px 36px;
  }
}

.calendar__next-month {
  .size(15px; 21px);
  background-image: url("../img/month-arrow-right.svg");
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    margin-right: 12px;
    .size(30px; 36px);
    background-size: 30px 36px;
  }
}

.calendar__calendar-table {
  margin-top: 4px;
  margin-left: 4px;
  .size(221px; 187px);
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin-left: 22px;
    .size(531px; 441px);
  }
}

.calendar__months-list {
  .reset_for_list();
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: @basic_blue_light_special;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__day-of-week-item-letter {
  .size(32px; 32px);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special_grey;
  text-transform: uppercase;
  text-align: center;

  &--holiday {
    color: @holiday_color;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.calendar__day-of-week-item-letter-second {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-table;
    text-transform: lowercase;
  }
}

.calendar__day-of-week-item {
  .size(32px; 31px);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special_grey_light;
  text-align: center;
  border: 1px solid @calendar_border_color;

  &--selected {
    font-weight: 500;
    color: @basic-white;
    background-color: @basic_blue_light_color;
  }

  &--possible {
    font-weight: 500;
    color: @basic_blue_light_color;
    background-color: @basic_blue_light;
  }

  &--current-day {
    border: 2px solid @holiday_color;
  }

  @media (min-width: @tablet-width) {
    .size(70px; 69px);
    font-size: 18px;
  }
}
