.card-button {
  display: block;
  padding: 14px;
  width: 230px;
  .size(230px; 40px);
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue;
  background-color: @basic_yellow;
  border-radius: 25px;
  border: none;

  @media (min-width: @tablet-width) {
    &--display-none {
      display: none;
    }
  }
}
