.companion-selection {
  padding: 20px 22px;
  background-color: @basic_yellow;
  border-radius: 20px;
  margin: auto;

  @media (max-width: @mobile-width-only) {
    width: 270px;
  }

  @media (min-width: @tablet-width) {
    width: 688px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    order: 2;
  }
}

.companion-selection__heading {
  .reset();
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: @basic_blue_light_color;
}

.companion-selection__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.companion-selection__legend {
  .reset();
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic_blue_light_color;
}

.companion-selection__button {
  position: relative;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    top: -17px;
    right: 0;
    content: "";
    width: 10px;
    height: 5px;
    background-image: url("../img/dropdown.svg");
  }

  &--close {
    &::before {
      width: 10px;
      height: 5px;
      background-image: url("../img/dropdown.svg");
      transform: rotate(180deg);
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
