.companion-selection {
  padding: 25px 20px;
  padding-bottom: 22px;
  background-color: @basic_yellow;
  border-radius: 20px;
  margin: auto;

  @media (max-width: @mobile-width-only) {
    margin-top: 116px;
    width: 270px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 222px;
    width: 688px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
    margin-left: 249px;
    width: 285px;
    order: 2;
  }
}

.companion-selection__heading {
  .reset();
  margin-left: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: @basic_blue_light_color;

  @media (min-width: @tablet-width) {
    margin-top: 12px;
    margin-left: 14px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: normal;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-left: 27px;
  }
}

.companion-selection__form {
  position: relative;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
    margin-left: 10px;

    &::before {
      position: absolute;
      top: -37px;
      content: "";
      width: 617px;
      height: 1px;
      background-color: @level_border;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 35px;
    margin-left: 21px;

    &::before {
      display: none;
    }
  }
}

.companion-selection__fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 5px;

  @media (max-width: @mobile-width-only) {
    &::before {
      position: absolute;
      top: -13px;
      content: "";
      width: 220px;
      height: 1px;
      background-color: @level_border;
    }
  }

  &--third {
    margin-top: 19px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 22px;
    justify-content: flex-start;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.companion-selection__legend {
  width: 150px;
  .reset();
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic_blue_light_color;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    width: 107px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    &--margin {
      margin-top: 5px;
    }
  }

  &:hover {
    color: @basic_blue_light_60;
  }

  &:active {
    color: @basic_blue_light_30;
  }
}

.companion-selection__legend-colon {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.companion-selection__fieldset .companion-selection__hobies-list {
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 26px;
    margin-left: 9px;
  }
}

.companion-selection__transport-list {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 25px;
    margin-left: 0;
  }
}

.companion-selection .companion-selection__level {
  @media (min-width: @tablet-width) {
    margin-top: 11px;
  }
}

.companion-selection__button {
  position: relative;
  margin-top: 5px;
  .size(10px; 10px);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 2px;
    right: 1px;
    content: "";
    width: 10px;
    height: 5px;
    background-image: url("../img/dropdown.svg");

    @media (min-width: @desktop-width) {
      top: 2px;
      right: 4px;
    }
  }

  &--close {
    &::before {
      top: 0;
      width: 10px;
      height: 5px;
      background-image: url("../img/dropdown.svg");
      transform: rotate(180deg);
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    margin-right: 22px;
    display: block;
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.companion-selection__form-submit-button {
  width: 231px;
  margin-top: 5px;
  padding: 12px;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue;
  background-color: @basic-white;
  border-radius: 25px;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-top: 69px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 18px;
    .size(617px; 50px);
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 17px;
    margin-bottom: 26px;
    margin-left: 8px;
    .size(194px; 49px);
  }

  &:hover {
    box-shadow: 0 3px 6px @basic-black-shadow14;
  }

  &:active {
    color: @basic_blue_special;
    background-color: @level_border;
  }
}
