.copyright {
  display: flex;
  flex-wrap: wrap;

  &::after {
    position: absolute;
    bottom: 51px;
    content: "";
    width: 270px;
    height: 1px;
    background-color: @copyright_border;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.copyright__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @special_grey;

  @media (min-width: @tablet-width) {
    margin-right: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

.copyright__link {
  position: relative;
  display: block;

  &::before {
    position: absolute;
    top: 5px;
    right: -188px;
    content: "";
    width: 27px;
    height: 34px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      right: 0;
    }
  }
}
