.directions {
  padding-top: 101px;
  padding-bottom: 34px;
  background-color: @basic_blue_light;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.directions__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;
}

.directions__explanations {
  width: 216px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
