.directions {
  position: relative;
  margin-top: -40px;
  padding-top: 111px;
  padding-bottom: 34px;
  background-color: @basic_blue_light;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 6;

  @media (min-width: @tablet-width) {
    margin-top: -50px;
    padding-bottom: 0;
  }
}

.directions__wrapper {
  margin: auto;

  @media (max-width: @mobile-width-only) {
    width: 320px;
    padding: 0 25px;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 40px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px 575px;
    background-position: right 60px top 28px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 1440px;
    padding: 0 60px;
    padding-bottom: 59px;
  }
}

.directions__heading {
  .reset();
  margin-left: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
    margin-left: 32px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
    margin-left: 140px;
    margin-bottom: 57px;
  }
}

.directions__explanations {
  .reset();
  width: 216px;
  margin-top: 19px;
  margin-left: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    width: 350px;
    margin-top: 57px;
    margin-left: 35px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 0;
    margin-left: 140px;
  }
}

.directions__show-all {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-bottom: 80px;
    margin-left: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 50px;
    margin-left: 144px;
  }
}
