.fellow-travelers {
  position: relative;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: @special_background_light;
  color: @basic-white;
  z-index: 4;

  @media (max-width: @mobile-width-only) {
    margin-top: -40px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 86px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.fellow-travelers__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 320px;
  margin: auto;
  padding: 0 25px;

  &::before {
    position: absolute;
    top: 74px;
    left: -4px;
    content: "";
    width: 113px;
    height: 132px;
    background-color: @special_blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;

    @media (min-width: @tablet-width) {
      .size(212px; 212px);
      top: 71px;
      left: 38px;
      border-radius: 20px;
    }
  }

  @media (max-width: @mobile-width-only) {
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 152px 74px, -10px 347px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding: 0 40px;
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 40px 426px, 409px 80px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: auto;
    padding: 0 60px;
  }
}

.fellow-travelers__heading {
  .reset();
  margin-top: 108px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;

  @media (min-width: @tablet-width) {
    width: 216px;
    margin-top: 141px;
    margin-left: 35px;
    font-size: 45px;
    line-height: 45px;
  }
}

.fellow-travelers__individual {
  .reset();
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: @mobile-width-only) {
    width: 217px;

    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 427px;
    margin-top: 56px;
    margin-left: 35px;
    font-size: 28px;
    line-height: 34px;
  }
}

.fellow-travelers__like-minded {
  width: 197px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: @mobile-width-only) {
    width: 217px;

    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-top: 40px;
    margin-left: 34px;
    font-size: 21px;
    line-height: 24px;
  }
}

.fellow-travelers__card-information {
  @media (max-width: @mobile-width-only) {
    margin-left: 24px;
  }
}

.fellow-travelers__cards-wrapper {
  @media (max-width: @mobile-width-only) {
    margin-top: 28px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: auto;
  }
}
