.fellow-travelers {
  position: relative;
  padding-top: 102px;
  padding-bottom: 31px;
  background-color: @special_background_light;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right 0, left 224px;
  color: @basic-white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    width: 113px;
    height: 132px;
    background-color: @special_blue;
    border-radius: 20px;
    z-index: -1;
  }
}

.fellow-travelers__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;
}

.fellow-travelers__individual {
  width: 217px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.fellow-travelers__like-minded {
  width: 197px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.traveler-card {
  position: relative;
  width: 270px;
}

.traveler-card__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: contain;
}

.traveler-card__level {
  position: absolute;
  top: 16px;
  left: 17px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  background-color: @basic_black_transparent;
  border-radius: 50%;
  text-align: center;

  &::before {
    position: absolute;
    top: 36px;
    right: 14px;
    content: "";
    width: 30px;
    border: 1px solid @basic-white-transparent;
  }
}

.treveler-card__level-word {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 9px;
}

.traveler-card__level-border {
  position: absolute;
  top: 16px;
  left: 17px;
}

.traveler-card__user-name-wrapper {
  flex-direction: column;
  position: relative;
  top: -40px;
  display: flex;
  background-color: @basic-white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.traveler-card__countries-list {
  position: relative;
  top: -13px;
  padding: 0;
  margin: auto;
  display: flex;
  list-style: none;
}

.traveler-card__countrie-item {
  margin: auto;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.traveler-card__online {
  position: relative;
  top: 15px;
  left: 60px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @online_background;
}

.traveler-card__offline {
  position: relative;
  top: 15px;
  left: 50px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @offline_background;
}

.traveler-card__user-name {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: @basic_blue_light_special;
  text-align: center;
}

.traveler-card__hobbies {
  width: 188px;
  margin: auto;
  margin-top: 15px;
  font-size: 16px;
  line-height: 18px;
  color: @special_grey;
  text-align: center;
}

.traveler-card__transport-list {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 0;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 20px;
  list-style: none;
}

.traveler-card__shaw-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  padding: 23px;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @basic_blue_light_special;
  border-radius: 10px;
  background-color: @basic_yellow;
  border: none;
  cursor: pointer;
  text-align: left;
}

.traveler__show-all-rectangular {
  fill: @basic_blue_light_special;
}
