.filtering-by-country-table {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue_light_color;
  border-collapse: collapse;
}

.filtering-by-country__letter {
  .size(43px; 40px);
  background-color: @basic-white;
  border: 1px solid @input_border_color;

  &--selected {
    .size(45px; 42px);
    color: @basic-white;
    background-color: @basic_blue_light_color;
    border: none;
  }
}
