.header-feedback {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-feedback__phone {
  position: relative;
  .size(40px; 40px);
  padding: 11px;
  background-color: @special_orange;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    .size(17px; 17px);
    background-image: url("../img/topmenu-phone.svg");
    background-repeat: repeat;
  }

  &--main-menu-block {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    .size(50px; 50px);
    padding: 16px;
  }
}

.header-feedback__write-us {
  .size(40px; 40px);
  padding: 11px;
  background-color: @special_yellow_dark;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    .size(17px; 17px);
    background-image: url("../img/topmenu-mail.svg");
    background-repeat: repeat;
  }

  &--main-menu-block {
    display: none;
  }


  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    .size(50px; 50px);
    padding: 16px;
  }
}

.header-feedback__authorization {
  display: block;
  .reset();
  padding: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_blue;
  background-color: @basic_yellow;
  border-radius: 25px;

  @media (max-width: @mobile-width-only) {
    width: 270px;

    &--middle-style {
      font-size: 20px;
      width: 194px;
      padding: 10px;
    }
  }

  @media (min-width: @tablet-width) {
    .size(188px; 50px);
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
  }
}
