.header {
  color: @basic-white;
}

.header__background {
  &--image {
    background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-color: @basic_blue;
  }

  &--color {
    background-color: @special_blue_background;
  }
}
