.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  color: @basic-white;
  border-bottom-left-radius: @border_radius_30;
  border-bottom-right-radius: @border_radius_30;
  z-index: 7;

  &--radius-catalog {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &--form-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &--index-background {
    background-color: @basic_blue;
  }

  &--catalog-background {
    background-color: @special_blue_background;
  }

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: @border_radius_60;
    border-bottom-right-radius: @border_radius_60;

    &--radius-catalog {
      padding-bottom: 85px;
    }

    &--index-background {
      background-color: @special_blue_background;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_blue;

    &--radius-catalog {
      padding-bottom: 69px;
    }

    &--index-background {
      background-color: @special_background_light;
    }

    &--catalog-background {
      background-color: @special_background_light;
    }
  }
}
