.header-top-review {
  .reset();
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: @basic-white;
}

.header-top-review__comment {
  @media (max-width: @mobile-width-only) {
    width: 151px;
    margin-top: 27px;
    margin-left: 26px;
  }
}

.header-top-review__commentator {
  display: block;
  width: 161px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: @mobile-width-only) {
    margin-top: 19px;
    margin-left: 26px;
  }
}
