.header-top-review {
  width: 161px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.header-top-review__commentator {
  display: block;
  width: 161px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
