.main-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 568px;
  padding-top: 27px;
  padding-bottom: 29px;
  background-color: @basic-white;
  z-index: 3;
}

.main-menu__wrapper {
  @media (max-width: @mobile-width-only) {
    margin: auto;
    width: 320px;
    padding: 0 25px;
  }
}

.main-menu__contacts {
  margin: auto;
}

.main-menu__buttons-list {
  display: block;
  width: 193px;
  .reset_for_list();
  margin: auto;
  margin-top: 65px;
  text-align: center;
}

.main-menu__buttons-item {
  .reset();
}

.main-menu__buttons-link {
  .reset();
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: @special_background_light;
}

.main-menu .main-menu__autorisation {
  margin: auto;
  margin-top: 51px;

  &--size {
    width: 270px;
    line-height: 30px;
  }
}

.main-menu .main-menu__social {
  width: 136px;
  margin: auto;
  margin-top: 29px;
}

.main-menu__close {
  position: relative;
  border: none;
  background-color: transparent;

  &::before {
    display: block;
    position: absolute;
    top: -24px;
    right: -150px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;
  }
}
