.main-menu-feedback {
  padding-bottom: 30px;
  width: 270px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 390px;
  }

  @media (min-width: @desktop-width) {
    &--top-display {
      display: none;
    }

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 29px;
  }
}

.main-menu-feedback__phone {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
  }

  &:hover {
    .main-menu-feedback__phone-image {
      fill: @special_yellow_dark;
    }

    .main-menu-feedback__phone-number {
      opacity: 0.7;

      &--color {
        opacity: 1;
        color: @special_yellow_dark;
      }
    }
  }

  &:active {
    opacity: 0.3;

    &--color {
      opacity: 0.3;
    }
  }
}

.main-menu-feedback__phone-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .size(45px; 45px);
  background-color: @phone_background;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    .size(68px; 68px);
  }

  @media (min-width: @desktop-width) {
    .size(90px; 90px);
  }
}

.main-menu-feedback__phone-image {
  fill: @basic_yellow;

  @media (min-width: @tablet-width) {
    .size(27px; 26px);
  }

  @media (min-width: @desktop-width) {
    .size(36px; 34px);
  }
}

.main-menu-feedback__phone-number {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 16px;
  width: 180px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @special_background_light;

  &--color {
    color: @basic_yellow;
  }

  @media (min-width: @tablet-width) {
    margin-top: 9px;
    margin-left: 23px;
    width: 270px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
    margin-left: 30px;
  }
}


.main-menu-feedback__write-us {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    .main-menu-feedback__mail-image {
      fill: @special_yellow_dark;
    }

    .main-menu-feedback__write-us-mail {
      opacity: 0.7;

      &--color {
        opacity: 1;
        color: @special_yellow_dark;
      }
    }
  }


  &:active {
    opacity: 0.3;

    &--color {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-left: 49px;
  }
}

.main-menu-feedback__mail-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .size(45px; 45px);
  background-color: @phone_background;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    .size(68px; 68px);
  }

  @media (min-width: @desktop-width) {
    .size(90px; 90px);
  }
}

.main-menu-feedback__mail-image {
  fill: @basic_yellow;

  @media (min-width: @tablet-width) {
    .size(28px; 19px);
  }

  @media (min-width: @desktop-width) {
    .size(37px; 25px);
  }
}

.main-menu-feedback__write-us-mail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .reset();
  margin-left: 16px;
  width: 180px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @special_background_light;

  &--color {
    color: @basic_yellow;
  }

  @media (min-width: @tablet-width) {
    margin-left: 25px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 31px;
  }
}
