.main {
  background-color: @background_blue_light;
}

.main__more-users {
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 33px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic_blue_light_color;

  &::before {
    display: block;
    position: absolute;
    top: 3px;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/show_plus_more.svg");
    background-repeat: no-repeat;
  }
}


.main__slider-button-left {
  padding: 14px;
  width: 134px;
  background-color: @basic-white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.main__slider-button-right {
  padding: 14px;
  width: 134px;
  background-color: @basic-white;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
