.main-menu {
  min-height: 568px;
  padding-top: 27px;
  padding-bottom: 29px;
  background-color: @basic-white;
}

.main-menu__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;

  @media (max-width: @mobile-width-only) {
    width: 320px;
    padding: 0 25px;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 60px;
  }
}

.main-menu__top {
  display: flex;
  flwx-wrap: wrap;
  justify-content: space-between;
}

.main-menu__buttons-list {
  @media (max-width: @mobile-width-only) {
    margin-top: 65px;
  }
}

.main-menu__buttons-list-top {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}


.main-menu__contacts {
  @media (max-width: @mobile-width-only) {
    margin: auto;
  }
}

.main-menu .main-menu__social {
  width: 136px;

  @media (max-width: @mobile-width-only) {
    margin: auto;
    margin-top: 29px;
  }
}

.main-menu__close {
  position: relative;
  .size(24px; 24px);
  border: none;
  background-color: transparent;

  &::before {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;
  }
}
