.main-menu-feedback {
  width: 270px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-menu-feedback__phone {
  position: relative;
  display: block;
  .size(45px; 45px);
  padding: 15px;
  background-color: @phone_background;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    &--tablet-size {
      .size(68px; 68px);
    }
  }

  &::before {
    position: absolute;
    content: "";
    .size(17px; 15px);
    background-image: url("../img/contacts-phone.svg");
    background-repeat: no-repeat;
    transform: translate(-50%);
    background-size: 17px 15px;
  }
}

.main-menu-feedback__phone-number {
  display: block;
  width: 180px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @special_background_light;

  &--color {
    color: @basic_yellow;
  }

  @media (min-width: @tablet-width) {
    width: 270px;
    font-size: 28px;
    line-height: 28px;
  }
}

.main-menu-feedback__write-us {
  position: relative;
  display: block;
  .size(45px; 45px);
  padding: 15px;
  background-color: @phone_background;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    &--tablet-size {
      .size(68px; 68px);
    }
  }

  &::before {
    position: absolute;
    content: "";
    .size(19px; 13px);
    background-image: url("../img/contacts-mail.svg");
    background-repeat: no-repeat;
    transform: translate(-50%);
  }

  @media (min-width: @desktop-width) {
    margin-right: 345px;
  }
}

.main-menu-feedback__write-us-mail {
  display: block;
  .reset();
  padding-left: 46px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: @special_background_light;

  &--color {
    color: @basic_yellow;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}
