.main-menu {
  position: absolute;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 29px;
  background-color: @basic-white;
  display: block;
  z-index: 20;

  &--no-js {
    position: inherit;
  }

  &--scroll {
    position: fixed;
    padding-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 72px;

    &--scroll {
      padding-bottom: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    padding-bottom: 18px;
    display: none;

    &--scroll {
      display: block;
      position: fixed;
      padding-bottom: 10px;
    }
  }
}

.main-menu__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content 1fr min-content min-content min-content;
  margin: auto;

  @media (max-width: @mobile-width-only) {
    width: 320px;
    padding: 0 25px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 17px;
    grid-template-columns: repeat(3, 229px);
    width: 768px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin-top: 0;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-menu__logo {
  justify-self: start;

  &--scroll {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: desktop-width) {
    order: 1;
  }
}

.main-menu__logo-link {
  grid-column-start: 1;
  grid-row-start: 1;
}

.main-menu__logo-image {
  .size(100px; auto);

  @media (min-width: @tablet-width) {
    .size(166px; auto);
  }

  @media (min-width: @desktop-width) {
    .size(200px; auto);
  }
}

.main-menu__button {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: end;
  position: relative;
  .size(24px; 24px);
  border: none;
  background-color: transparent;

  &--open-scroll {
    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      .size(25px; 11px);
      background-image: url("../img/icon-menu-mobile-scroll.svg");
      background-repeat: no-repeat;
    }
  }

  &--close {
    &::before {
      display: block;
      position: absolute;
      top: 1px;
      right: 0;
      content: "";
      .size(19px; 20px);
      background-image: url("../img/icon-menu-mobile-close.svg");
      background-repeat: no-repeat;
    }
  }

  &--no-js {
    display: none;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    margin-top: 12px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}


.main-menu__feedback {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;

  @media (max-width: @mobile-width-only) {
    margin-top: 53px;

    &--scroll {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.main-menu__wrapper .main-menu__buttons-list {
  .reset();

  &--scroll {
    display: none;
  }

  @media (max-width: @mobile-width-only) {
    margin-top: 67px;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    justify-self: start;
    margin-top: 93px;
    margin-left: 55px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-top: 7px;
    margin-right: 171px;
    margin-bottom: 0;
    order: 2;

    &::before {
      top: 17px;
      left: -89px;
      .size(44px; 2px);
      background-color: @special_background_light;
    }
  }
}

.main-menu__contacts {
  grid-column-start: 1;
  grid-row-start: 4;
  justify-self: start;


  &--scroll {
    display: none;
  }

  @media (max-width: @mobile-width-only) {
    margin-top: 51px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 127px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 57px;
  }
}

.main-menu .main-menu__social {
  width: 136px;
  grid-column-start: 1;
  grid-row-start: 5;
  justify-self: center;

  &--scroll {
    display: none;
  }

  @media (max-width: @mobile-width-only) {
    margin: auto;
  }

  @media (min-width: @tablet-width) {
    margin-top: 86px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
