.search-companion {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background-color: @special_background_light;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (max-width: @mobile-width-only) {
    margin-top: 109px;

    &::before {
      position: absolute;
      top: 278px;
      content: "";
      width: 113px;
      height: 132px;
      background-color: @special_blue;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: -1;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 89px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
  }
}

.search-companion__wrapper {
  @media (max-width: @mobile-width-only) {
    margin: auto;
    width: 320px;
    padding: 0 25px;
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 280px;
  }

  @media (min-width: @tablet-width) {
    margin: auto;
    width: 768px;
    padding: 0 40px;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 376px 548px;
    background-position: 384px 283px;

    &::before {
      position: absolute;
      top: 232px;
      content: "";
      width: 688px;
      height: 212px;
      background-color: @special_blue;
      border-radius: 20px;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    width: 1440px;
    padding: 0 60px;
    padding-bottom: 163px;
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 630px 665px;
    background-position: 749px 85px;

    &::before {
      position: absolute;
      top: 128px;
      content: "";
      width: 212px;
      height: 212px;
      background-color: @special_blue;
      border-radius: 20px;
      z-index: -1;
    }
  }
}

.search-companion__wrapper .search-companion__position {
  @media (max-width: @mobile-width-only) {
    margin-top: -80px;
  }

  @media (min-width: @tablet-width) {
    margin-top: -143px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -230px;
  }
}

.search-companion .search-companion__service {
  margin-top: 56px;
  margin-left: 25px;
  margin-bottom: 84px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-left: 33px;
  }
}

.search-companion__details {
  @media (min-width: @tablet-width) {
    margin-top: 50px;
    margin-left: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 85px;
    margin-left: 70px;
  }
}
