.search-companion-service {
  width: 211px;
}

.search-companion-service__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @special_orange;
}

.search-companion-service__about-service {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.search-companion-service__call-for {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
