.search-companion {
  position: relative;
  background-color: @special_background_light;
  z-index: 1;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  &::before {
    position: absolute;
    bottom: 219px;
    content: "";
    width: 113px;
    height: 132px;
    background-color: @special_blue;
    border-radius: 20px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 20px;
    content: "";
    width: 292px;
    height: 352px;
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    z-index: -1;
  }
}
