.socials-list {
  display: flex;
  .reset_for_list();
}

.socials-list__item {
  display: flex;
  width: 45px;
  height: 45px;
  .reset();
  background-color: @basic_yellow;
  border-radius: 50%;
}

.socials-list__link {
  position: relative;
  .reset();
  margin: auto;
  padding: 21px;

  &::before {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);
  }

  &--facebook {
    &::before {
      width: 11px;
      height: 21px;
      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;
    }
  }

  &--vk {
    &::before {
      width: 23px;
      height: 12px;
      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;
    }
  }

  &--instagram {
    &::before {
      width: 18px;
      height: 18px;
      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;
    }
  }
}
