.socials-list {
  display: flex;
  list-style: none;
}

.socials-list__item {
  display: flex;
  background-color: @basic_yellow;
  border-radius: 50%;
}

.socials-list__link {
  position: relative;
  .reset();
  margin: auto;
  padding: 14px;
  width: 45px;
  height: 45px;

  &--facebook {
    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 17px;
      width: 11px;
      height: 21px;
      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;
    }
  }

  &--vk {
    &::before {
      position: absolute;
      content: "";
      top: 17px;
      left: 11px;
      width: 23px;
      height: 12px;
      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;
    }
  }

  &--instagram {
    &::before {
      position: absolute;
      content: "";
      top: 13px;
      left: 14px;
      width: 18px;
      height: 18px;
      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;
    }
  }
}
