.transport-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 175px;
  .reset_for_list();
  padding: 17px;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 20px;
}

.transport-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .reset();
  width: 32px;
  height: 32px;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
  }

  &--plane {
    &::before {
      width: 18px;
      height: 20px;
      background-image: url("../img/plane.svg");
      background-repeat: no-repeat;
    }
  }

  &--bus {
    &::before {
      width: 18px;
      height: 21px;
      background-image: url("../img/bus.svg");
      background-repeat: no-repeat;
    }
  }

  &--on-foot {
    &::before {
      width: 25px;
      height: 24px;
      background-image: url("../img/run.svg");
      background-repeat: no-repeat;
    }
  }

  &--bicycle {
    &::before {
      width: 25px;
      height: 24px;
      background-image: url("../img/bike.svg");
      background-repeat: no-repeat;
    }
  }

  &--plane-inactive {
    &::before {
      width: 18px;
      height: 20px;
      background-image: url("../img/plane.svg");
      background-repeat: no-repeat;
      opacity: 0.15;
    }
  }

  &--bus-inactive {
    &::before {
      width: 18px;
      height: 21px;
      background-image: url("../img/bus.svg");
      background-repeat: no-repeat;
      opacity: 0.15;
    }
  }


  &--bicycle-inactive {
    &::before {
      width: 25px;
      height: 24px;
      background-image: url("../img/bike.svg");
      background-repeat: no-repeat;
      opacity: 0.15;
    }
  }

  &--on-foot-inactive {
    &::before {
      width: 25px;
      height: 24px;
      background-image: url("../img/run.svg");
      background-repeat: no-repeat;
      opacity: 0.15;
    }
  }

  &--background {
    background-color: @basic_blue_light;
  }
}
