.transport-list-form {
  position: relative;
  left: -47px;
  display: flex;
  .reset_for_list();
}

.transport-list-form__tansport-checkbox-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 45px;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: @basic-white;
  }

  &::after {
    position: absolute;
    top: 7px;
    left: 7px;
    content: "";
    .size(17px; 16px);
    background-repeat: no-repeat;
    opacity: 0.15;
  }

  &--plane {
    &::after {
      background-image: url("../img/plane.svg");
      background-size: 15px 15px;
    }
  }

  &--vehicles {
    &::after {
      background-image: url("../img/bus.svg");
      background-size: 17px 16px;
    }
  }

  &--bicycle {
    &::after {
      background-image: url("../img/bike.svg");
      background-size: 17px 16px;
    }
  }

  &--on-foot {
    &::after {
      background-image: url("../img/run.svg");
      background-size: 17px 16px;
    }
  }
}

.transport-list-form__transport-checkbox:checked + .transport-list-form__tansport-checkbox-label {
  &::after {
    opacity: 1;
  }
}
