.traveler-hobies {
  .reset_for_list();
  display: none;

  &--display {
    @media (max-width: @mobile-width-only) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: none;

    &--display {
      display: block;
    }
  }
}

.traveler-hobies__item {
  .reset();
  margin-bottom: 10px;
}

.traveler-hobies__checkbox-label {
  position: relative;
  display: block;
  padding-left: 27px;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    .size(18px; 18px);
    border-radius: 4px;
    background-color: @basic-white;
  }
}

.traveler-hobies__checkbox:checked + .traveler-hobies__checkbox-label {
  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 5px;
    .size(9px; 9px);
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}
