@basic_blue: #161C35;
@basic_blue_special: fade(@basic_blue, 30%);
@basic_blue_light: #EDEFF6;
@basic_blue_light_90: fade(@basic_blue_light, 90%);
@basic_blue_light_color: #1D2E5B;
@basic_blue_light_30: fade(@basic_blue_light_color, 30%);
@basic_blue_light_60: fade(@basic_blue_light_color, 60%);
@basic_blue_light_color_special: fade(@basic_blue_light_color, 20%);
@basic_yellow: #FFD74B;
@basic_yellow_fade_30: fade(@basic_yellow, 30%);
@special_yellow_dark: #FFBD30;
@special_blue_light: #DFE3F0;
@special_grey: #444444;
@special_grey_light: fade(@special_grey, 30%);
@special-grey-placeholder: fade(@special_grey, 50%);
@special_grey_light_6: fade(@special_grey, 60%);
@basic_blue_light_special: #1D2E5B;
@special_red: #F47E7E;
@red_hover: #F9D8D8;
@special_orange: #FF8D30;
@holiday_color: #FF5C23;
@background_blue_light: #E5E5E5;
@special_background_light: #192144;
@special_background_light_opacity: fade(@special_background_light, 30%);
@special_background_opacity: fade(@special_background_light, 60%);
@basic-white: #ffffff;
@basic-black-shadow: fade(@basic_black, 16%);
@basic-black-shadow14: fade(@basic_black, 14%);
@basic-white-transparent: fade(@basic-white, 30%);
@basic-white-transparent-shadow: fade(@basic-white, 80%);
@special-yellow: #FFA530;
@special_blue: #141B3B;
@basic_black: #000000;
@basic_black_shadow: fade(@basic_black, 24%);
@basick_black_fade: fade(@basic_black, 30%);
@basick_black_fade_40: fade(@basic_black, 40%);
@basick_black_fade_10: fade(@basic_black, 10%);
@basic-white-border: fade(@basic_black, 5%);
@basic_black_fade_60: fade(@basic_black, 60%);
@basic_black_transparent: fade(@basic_black, 30%);
@online_background: #81E31E;
@offline_background: #F97676;
@special_blue_light_gray: #E6E8F1;
@special_business_button: #132576;
@special_blue_background: #182044;
@light_red_background: #F9EAEA;
@heart_background: #E2E5F2;
@phone_background: #121936;
@input_border_color: #CBCED9;
@input_border_color_30: fade(@input_border_color, 30%);
@box_shadow: rgba(29, 46, 91, 0.14);
@box-shadow_form: rgba(212, 217, 235, 0.25);
@business_close_background: #F3F4F8;
@roll-up-button-background: #D6DAED;
@add_plane_background: #D4D9EB;
@calendar_border_color: #D6D9E6;
@profile_border_color: #E1E3E9;
@copyright_border: #F2F2F2;
@level_border: #F3C72B;
@orange-hover: #F26926;
@roll_up_hover: #C8CEE8;
@border_hover_color: #959BB2;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
@border_radius_30: 30px;
@border_radius_60: 60px;
